.App{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.Header{
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  border-bottom: 1px solid rgb(0, 0 , 0 , 0.5);
}
.Header Image{
  border-radius: 50%;
  

}

.Footer{
}
.SideMenu{

}